@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;900&display=swap');

.container{

  @media(min-width:1000px){
    #contacto{
      -webkit-animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
      animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;}
  }
      #contacto{
       
        
        @-webkit-keyframes fade-in-right {
          0% {
            -webkit-transform: translateX(50px);
                    transform: translateX(50px);
            opacity: 0;
          }
          100% {
            -webkit-transform: translateX(0);
                    transform: translateX(0);
            opacity: 1;
          }
        }
        @keyframes fade-in-right {
          0% {
            -webkit-transform: translateX(50px);
                    transform: translateX(50px);
            opacity: 0;
          }
          100% {
            -webkit-transform: translateX(0);
                    transform: translateX(0);
            opacity: 1;
          }
        }
      }
    .display-4{
        font-size: 2.5rem;
        font-family: 'Source Sans Pro', sans-serif;
        margin-top: 5px;

      }
      .col1{
        background-color: black;
        color: white;

        h3{
          text-align: center;
          font-family: 'Lato', sans-serif;
          font-weight: 900;
        }
        hr{
          height: 2px;
          width: 40%;
          background-color: #b4ca85;
        }
          .content-items{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .item-content-1{
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              p{
                font-family: 'Lato', sans-serif;
                font-weight: 300;
              }
              .iconnos{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-bottom: 5px;
              }
            }
          }

          @media(max-width:1000px){
            .content-items{
              display: flex;
              flex-direction: column;
            }
          }
          @media(min-width:1000px){
            .div-del-mid{
              margin-left: 65px;
            }
          }
      }
      .col2{
        .title-contact{
          margin-top: 27px;
          font-family: 'Lato', sans-serif;
          font-weight: 900;
        }
        .formu{
          width: 80%;
          margin: auto;
        }

    
       .content-input{
           display: flex;
           flex-direction: row;
           justify-content: space-between;

           
        .inputs-contact{
            width: 45%;
        }
       }

          height: 400px;
          background-color: whitesmoke;
          text-align: center;
         
          hr{
            height: 2px;
             width: 40%;
             background-color: #bfdce6;
          }
          button{
            width: 200px;
           
          }
         
      }
      .container-map{
          margin-top: 5%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #f5f5f5;

          .content-iframe{
            width: 100%;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-color: #f5f5f5;
                

            @media(min-width:1000px){
              iframe{
                width: 100%;
                -webkit-animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;}
            }
            iframe{
              width: 100%;
             
  
              @-webkit-keyframes fade-in-left {
                0% {
                  -webkit-transform: translateX(-50px);
                          transform: translateX(-50px);
                  opacity: 0;
                }
                100% {
                  -webkit-transform: translateX(0);
                          transform: translateX(0);
                  opacity: 1;
                }
              }
              @keyframes fade-in-left {
                0% {
                  -webkit-transform: translateX(-50px);
                          transform: translateX(-50px);
                  opacity: 0;
                }
                100% {
                  -webkit-transform: translateX(0);
                          transform: translateX(0);
                  opacity: 1;
                }
              }
            }
          }
       
         
          
         
      }
    }