.container{
      #contacto{
        -webkit-animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;



        
        @-webkit-keyframes fade-in-right {
          0% {
            -webkit-transform: translateX(50px);
                    transform: translateX(50px);
            opacity: 0;
          }
          100% {
            -webkit-transform: translateX(0);
                    transform: translateX(0);
            opacity: 1;
          }
        }
        @keyframes fade-in-right {
          0% {
            -webkit-transform: translateX(50px);
                    transform: translateX(50px);
            opacity: 0;
          }
          100% {
            -webkit-transform: translateX(0);
                    transform: translateX(0);
            opacity: 1;
          }
        }
      }
    .display-4{
        font-size: 2.5rem;
        font-family: 'Source Sans Pro', sans-serif;
        margin-top: 5px;
       


      }
      .col1{
          .title-contact{
             text-align: center;
             margin-top: 10px;
          }
          height: 400px;
          background-color: whitesmoke;
           hr{
             height: 2px;
             width: 40%;
             background-color: #b3c985;
           }
          .section-contact{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .lista-contactos{
              padding: 0;
              font-family: 'Amatic SC', cursive;
              li{
                list-style: none;
                font-weight: 700;
                margin-bottom: 20px;
              }
            }
          }
          
      }
      .col2{
        .title-contact{
          margin-top: 10px;
        }

       .content-input{
           display: flex;
           flex-direction: row;
           justify-content: space-between;
        .inputs-contact{
            width: 45%;
        }
       }

          height: 400px;
          background-color: whitesmoke;
          text-align: center;
         
          hr{
            height: 2px;
             width: 40%;
             background-color: #bfdce6;
          }
          button{
            width: 200px;
           
          }
         
      }
      .container-map{
          margin-top: 10%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: whitesmoke;
          padding: 15px;

          .content-iframe{
            width: auto;
            background-image: url(../../assets/imagenes/load.gif);
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
  
            iframe{
              -webkit-animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
              animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  
              @-webkit-keyframes fade-in-left {
                0% {
                  -webkit-transform: translateX(-50px);
                          transform: translateX(-50px);
                  opacity: 0;
                }
                100% {
                  -webkit-transform: translateX(0);
                          transform: translateX(0);
                  opacity: 1;
                }
              }
              @keyframes fade-in-left {
                0% {
                  -webkit-transform: translateX(-50px);
                          transform: translateX(-50px);
                  opacity: 0;
                }
                100% {
                  -webkit-transform: translateX(0);
                          transform: translateX(0);
                  opacity: 1;
                }
              }
            }
          }
       
         
          
         
      }
    }