<div class="container">
  <div id="contacto">
    <div class="row">
      <div class="col-12 col1 mb-5">
        <h3 class="mt-5">Contacto</h3>
        <hr />
        <div class="content-items p-5">
          <div class="item-content-1">
            <img
              class="iconnos"
              src="../../assets/imagenes/whatss.png"
              alt=""
            />
            <p>WhatsApp:1131491074</p>
            <p>Telefono Fijo: 4249-8221</p>
          </div>
          <div class="item-content-1 div-del-mid">
            <img class="iconnos" src="../../assets/imagenes/ubic2.png" alt="" />
            <p>Eva Peron 1670 Lanus Este</p>
            <p>Lunes a Viernes 9hs a 17 hs</p>
            <p>Sabado 10hs a 13hs</p>
          </div>
          <div class="item-content-1">
            <img class="iconnos" src="../../assets/imagenes/arroba.png" />
            <p>delsublimado.mundo@gmail.com</p>
          </div>
        </div>
      </div>
      <div class="col-12 col2 box-contact">
        <h3 class="title-contact">
          En que podemos ayudarte?
        </h3>
        <hr />
        <form class="p-5 formu" (ngSubmit)="contactForm($event)">
          <div class="content-input">
            <div class="form-group inputs-contact">
              <input
                type="text"
                class="form-control"
                id="exampleInputName1"
                aria-describedby="emailHelp"
                placeholder="Nombre"
                name="nombre"
                [(ngModel)]="nombre"
              />
            </div>
            <div class="form-group inputs-contact">
              <input
                type="text"
                class="form-control"
                id="formGroupExampleInput"
                placeholder="Telefono"
                name="tell"
                [(ngModel)]="tell"
              />
            </div>
          </div>

          <div class="mb-3">
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Email"
                name="email"
                [(ngModel)]="email"
              />
            </div>
            <textarea
              class="form-control"
              id="validationTextarea"
              placeholder="Mensaje"
              name="texto"
              [(ngModel)]="texto"
              required
            ></textarea>
          </div>
          <button type="submit" class="btn btn-dark">Enviar</button>
        </form>
      </div>

      <div class="container-map">
        <div class="content-iframe">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3279.9042399543873!2d-58.38302578417253!3d-34.707595170509805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccd3030fe5475%3A0xae98fec7d8cc535f!2sAv.%20Eva%20Per%C3%B3n%201670%2C%20B1820%20Lan%C3%BAs%20Este%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1594322246304!5m2!1ses-419!2sar"
            width="400"
            height="300"
            frameborder="0"
            style="border: 0;"
            allowfullscreen=""
            aria-hidden="false"
            tabindex="0"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
