<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar" [ngClass]="{ active: toggle }" class="">
    <!-- <div class="sidebar-header">
            <h3>Bootstrap Sidebar</h3>
        </div> -->

    <ul class="list-unstyled components scrollbar">
      <!-- <p>Dummy Heading</p> -->
      <!-- <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Home 1</a>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li> -->
      <li *ngFor="let producto of listCatalogo; let indice = index">
        <a (click)="productoSeleccionado(producto, indice)">{{
          producto.nombre
        }}</a>
      </li>
    </ul>
  </nav>
  <!-- Page Content -->
  <div id="content" class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button
          type="button"
          (click)="toggleMenu(toggle)"
          id="sidebarCollapse"
          class="btn btn-info"
        >
          <i class="fas fa-align-left"></i>
          <span>Toggle Sidebar</span>
        </button>
      </div>
    </nav>

    <div class="row box-download">
      <div class="col-md-6 col-xs-12">
        <h3>Precios Actualizados junio, 2020</h3>

        <p>Descargar Catálogo para imprimir</p>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="iconPDF"></div>
      </div>
    </div>

    <p>
      En los casos que no se indique la cantidad el precio mayorista se aplicará
      a partir de 20 unidades del mismo producto.
    </p>
    <p>A continuación Listado de precios</p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut
      lorem ligula. Etiam lacinia pulvinar volutpat. Donec et maximus leo.
      Quisque et dui tristique, condimentum massa nec, iaculis nisi. Nunc
      elementum risus diam, et mollis elit efficitur eu. Proin egestas orci leo,
      at ornare risus imperdiet quis. Maecenas sagittis neque vitae sollicitudin
      posuere. Aliquam in ullamcorper turpis. Sed consequat lacus nunc. Integer
      non euismod turpis. Aenean tempor justo non diam mattis mollis euismod
      vitae risus. Etiam augue nisl, vulputate ac nisl eu, scelerisque vulputate
      neque. Etiam eget fermentum lorem, non laoreet nunc. Vestibulum ante ipsum
      primis in faucibus orci luctus et ultrices posuere cubilia curae; Nunc
      efficitur accumsan orci vel rhoncus. Vivamus luctus est quis turpis
      feugiat, eu tempus justo tincidunt. Suspendisse pretium nulla auctor diam
      porttitor fermentum. In nec magna leo. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Maecenas vitae ipsum vitae metus porttitor
      tincidunt. Sed ultrices luctus finibus. Donec vel odio tempor, laoreet
      metus id, volutpat metus. Aenean nec elit eget ante pharetra bibendum
      pharetra vel metus. Etiam in placerat nisi. Sed sagittis ullamcorper
      convallis. Vestibulum sed accumsan ex. Duis eget risus non magna convallis
      sagittis. Pellentesque fringilla sit amet dui interdum ultricies. Ut nec
      ex eros. Etiam semper sagittis lorem, quis euismod mi condimentum eu.
      Vivamus quam nulla, hendrerit ac placerat non, bibendum eu urna. Nunc
      rhoncus porttitor urna sit amet sollicitudin. Class aptent taciti sociosqu
      ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla
      facilisi. Maecenas facilisis, velit laoreet gravida pharetra, magna sapien
      laoreet velit, a rhoncus tellus arcu molestie mauris. Curabitur non turpis
      ac turpis ultricies ultrices. Nunc suscipit sagittis placerat. Quisque
      bibendum nisl nec tincidunt sollicitudin. Quisque vitae urna a metus
      molestie feugiat id sit amet nibh. Integer a diam nibh. Nulla ullamcorper
      ac quam ultricies interdum. Nulla nisi enim, luctus sit amet nisl sit
      amet, elementum dapibus nisi. In molestie dui vitae neque dapibus, at
      placerat mauris fringilla. Quisque tincidunt ex sed est interdum aliquam
      vitae sit amet magna. Nam fermentum pellentesque nulla, ac gravida enim
      accumsan dignissim. Pellentesque nec felis tincidunt, efficitur augue et,
      auctor ligula. Vestibulum sed enim commodo, facilisis lectus nec, accumsan
      elit. Nullam tincidunt vitae turpis eu feugiat. Nam non nisi in mauris
      varius vulputate. Sed lacinia blandit ipsum, in condimentum orci porta eu.
      Proin vitae enim pharetra lectus sagittis fringilla id ut lectus. Cras at
      arcu volutpat leo iaculis eleifend vitae eget mauris. Donec sit amet
      ultrices nibh. Nam facilisis arcu quis nulla semper, ut sodales tellus
      bibendum. Sed non urna metus. Sed imperdiet lobortis malesuada. Nulla
      eleifend tincidunt quam a elementum. Nam at vestibulum neque. Nullam sem
      nulla, lobortis vitae efficitur a, accumsan nec nibh. Pellentesque vitae
      enim arcu. Aenean convallis pharetra justo eget dapibus. Etiam sed felis
      at turpis pellentesque lobortis ac et ipsum. Morbi eget lacinia nibh.
      Donec aliquam, turpis eu blandit feugiat, diam arcu interdum turpis, et
      fringilla purus dolor id urna. Aliquam lobortis venenatis fermentum. Sed
      tempus neque eu est congue, fermentum feugiat lectus suscipit. Curabitur
      molestie sit amet felis vel tincidunt. Pellentesque sagittis arcu eu nisl
      ultrices, ac sollicitudin nibh viverra. Aenean vel odio at dolor aliquet
      luctus ut vitae purus. Nunc eget nisl sit amet leo ultricies facilisis.
      Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus
      ornare dui vel ligula ornare sagittis. Nullam semper tempor mi. Lorem
      ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel tristique
      nisi, at condimentum mi. Proin feugiat leo eget bibendum dapibus. Aenean
      dui eros, ultrices non tortor sed, varius eleifend augue. Cras efficitur
      condimentum erat vitae finibus. Donec rhoncus risus ac nisl dapibus, vitae
      consectetur neque fermentum. Pellentesque vestibulum leo velit, in
      accumsan augue sollicitudin at. Maecenas dapibus tellus nec nibh imperdiet
      ultricies. Donec placerat elit eu dui commodo egestas. Nam at velit quis
      felis luctus bibendum. Nunc auctor molestie mi, sed dignissim leo tempor
      in. Mauris pretium ut neque et consequat. Quisque sit amet nulla non
      turpis efficitur semper. Vivamus elementum eget dolor at bibendum. Integer
      arcu magna, aliquam eget convallis vitae, ullamcorper molestie lorem.
      Nullam malesuada accumsan sapien sed sagittis. Vivamus id lectus
      tristique, consectetur velit in, consequat urna. Quisque euismod ex nec
      pulvinar aliquam. Vivamus ac malesuada nibh. Quisque ornare, risus ac
      porttitor ullamcorper, ligula lacus ornare ex, nec fermentum turpis nisi
      ut lacus. Morbi pulvinar eros et dolor pharetra, in ornare justo
      hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Vestibulum auctor interdum turpis, id gravida metus laoreet ac. Nullam
      egestas ligula non nibh condimentum, sed elementum mauris fermentum. Nam
      vestibulum euismod dolor. Sed elementum iaculis nisl, id vulputate nisi
      malesuada in. Maecenas vel odio gravida, pulvinar ligula non, tristique
      nisi. Ut vehicula rhoncus enim id lobortis. Maecenas tincidunt diam sit
      amet nunc placerat, vitae luctus dolor lobortis. Sed placerat fringilla
      mollis. Nullam pulvinar urna quis est malesuada congue. Fusce in tempor
      mauris. Donec rutrum ipsum at consequat egestas. Proin eleifend odio sed
      risus luctus, quis pellentesque mauris pharetra. Vivamus eget risus eu
      tortor ultricies aliquet. Sed a sapien justo. Vestibulum congue orci dui,
      ut gravida lorem rutrum vitae. Nunc accumsan, est a consectetur consequat,
      nulla eros interdum mi, et semper orci dolor non nibh. Etiam justo odio,
      dictum non aliquam ut, laoreet et dolor. Sed facilisis diam ac justo
      pulvinar pulvinar rhoncus vel massa. Curabitur ullamcorper tincidunt
      venenatis. Vestibulum leo ante, interdum non posuere et, condimentum in
      quam. Sed posuere urna risus, et varius quam mollis quis. Vestibulum eu
      tincidunt velit, sit amet tincidunt urna. Nam aliquet non augue ut
      volutpat. Vivamus mollis ante sed elit tempor, eu pharetra ex bibendum.
      Donec vitae viverra erat. Pellentesque rhoncus, mi vitae bibendum
      fermentum, tellus tellus finibus ex, ut feugiat turpis magna nec diam.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas auctor
      lacinia felis laoreet viverra. Aenean accumsan massa et vulputate aliquet.
      Morbi in luctus mi, et hendrerit nisi. Quisque mi erat, ultrices interdum
      fringilla luctus, sollicitudin at diam. Maecenas bibendum justo at felis
      pulvinar ultrices. Nam bibendum at justo vel rhoncus. Nunc dictum dolor ut
      posuere lacinia. Nunc quis sollicitudin ex. In auctor fringilla turpis
      commodo dapibus. Aenean ut enim eu urna dignissim vestibulum eget at
      felis. Vestibulum suscipit convallis libero ut rutrum. Aenean dictum
      porttitor consequat. Curabitur fermentum mi in pellentesque finibus. Nunc
      in arcu pellentesque, maximus justo sit amet, mollis quam. Aenean lacinia
      commodo sagittis. Duis mi ex, ultrices quis sollicitudin auctor, tincidunt
      et lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
      posuere cubilia curae; Nullam ac quam eget ligula elementum imperdiet.
      Curabitur id ipsum consectetur, pretium felis eget, bibendum leo. Sed ut
      suscipit est. Class aptent taciti sociosqu ad litora torquent per conubia
      nostra, per inceptos himenaeos. Maecenas efficitur lectus ac urna luctus,
      vitae porta dui bibendum. Pellentesque at massa eu est viverra congue quis
      et arcu. Sed in consectetur eros. Class aptent taciti sociosqu ad litora
      torquent per conubia nostra, per inceptos himenaeos. Vestibulum eleifend
      justo vitae lacinia dapibus. Pellentesque ac vulputate massa, non
      vulputate urna. Donec scelerisque ipsum sit amet nisl pulvinar eleifend.
      Nullam at consectetur eros, dictum laoreet neque. Quisque fermentum elit
      tellus, et malesuada nulla placerat interdum. In hac habitasse platea
      dictumst. Vestibulum pulvinar arcu ac neque pretium egestas. Cras lacinia,
      libero at iaculis gravida, lorem sapien accumsan sem, ut luctus dolor
      dolor sit amet erat. Donec finibus odio massa, in tristique nisl posuere
      sed. Integer a ex tellus. Praesent odio leo, aliquam quis ornare vel,
      auctor eu nisi. Etiam faucibus mi non enim consectetur, quis semper dui
      vulputate. Donec eget dui ut ipsum vehicula lobortis. Sed ornare metus in
      lectus pulvinar, quis maximus ligula fringilla. Morbi sit amet nisi purus.
      Phasellus at ex dui. Integer vel porttitor magna. Cras nec blandit est.
      Cras non lorem at sem elementum dapibus. In facilisis turpis et turpis
      dapibus, vel porttitor turpis faucibus. Donec faucibus nibh non est
      iaculis, commodo laoreet arcu vehicula. Nunc non urna quis metus tincidunt
      rhoncus. Ut lacinia iaculis congue. Phasellus fermentum ipsum sed felis
      euismod, ut commodo mi porta. Quisque accumsan dapibus ante vitae
      pellentesque. Cras eleifend et augue sit amet ultricies. Pellentesque
      habitant morbi tristique senectus et netus et malesuada fames ac turpis
      egestas. Sed et diam ut erat consequat tincidunt a a tellus. Quisque
      porttitor ut dui id malesuada. Fusce varius in felis sit amet elementum.
      Vivamus vitae felis eu lacus ultricies finibus. In hac habitasse platea
      dictumst. Proin felis enim, sollicitudin mollis cursus vitae, feugiat vel
      nisl. In ac pretium mi. Proin tempus ultrices mi, ut tempor felis
      elementum fermentum. Curabitur eu dignissim sapien, egestas sollicitudin
      arcu. Donec orci lorem, lobortis non aliquam eget, efficitur non augue. In
      fringilla, mi quis consectetur tempor, arcu nulla lacinia nunc, eu commodo
      ante nisl in risus. Donec ut ipsum eros.
    </p>
  </div>
</div>
