<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar" [ngClass]="{ active: toggle }" class="">
    <!-- <div class="sidebar-header">
            <h3>Bootstrap Sidebar</h3>
        </div> -->

    <ul class="list-unstyled components scrollbar">
      <!-- <p>Dummy Heading</p> -->
      <!-- <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Home 1</a>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li> -->
      <li
        *ngFor="let producto of listCatalogo; let indice = index"
        [ngClass]="{ active: indice == indiceSeleccionado }"
      >
        <a
          (click)="productoSeleccionado(producto, indice)"
          class="hvr-bubble-float-left"
          >{{ producto.nombre }}</a
        >
      </li>
    </ul>
  </nav>
  <!-- Page Content -->
  <div id="content" class="container">
    <!-- Page Content -->
    <div id="content" class="container">
      <button
        type="button"
        (click)="toggleMenu(toggle)"
        id="sidebarCollapse"
        class="btn btn-info"
      >
        <i class="fas fa-align-left"></i>
        <span class="show-catalogo-menu">{{
          toggle ? "Mostrar Catalogo" : "X"
        }}</span>
        <span class="show-catalogo-menu-mobile">{{
          toggle ? "X" : "Mostrar Catalogo"
        }}</span>
      </button>

      <div class="row box-download">
        <div class="col-md-6 col-xs-12">
          <h3>Precios Actualizados junio, 2020</h3>

          <p>Descargar Catálogo para imprimir</p>
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="iconPDF"></div>
        </div>
      </div>

      <p>
        los preciso pueden sufrir variaciones ,por favor consultar antes de
        realizar su compra.
      </p>
      <p>A continuación Listado de precios</p>

      <div class="table">
        <app-tabla-productos [productos]="listCatalogo"></app-tabla-productos>
      </div>

      
        
    </div>
  </div>
</div>
