<div class="grid">
  <figure class="effect-milo">
    <img src="{{ user.img }}" alt="..." />
    <figcaption>
      <h2>
        <span>{{ user.price }}</span>
      </h2>
      <p>{{ user.desc }}.</p>
      <a href="#">View more</a>
    </figcaption>
  </figure>
  <figure class="effect-milo">
    <img src="{{ user.img }}" alt="..." />
    <figcaption>
      <h2>
        <span>{{ user.price }}</span>
      </h2>
      <p>{{ user.desc }}.</p>
      <a href="#">View more</a>
    </figcaption>
  </figure>
</div>
