<div class="grid">
  <figure class="effect-milo">
    <img src="{{ user.img }}" alt="..." />
    <figcaption>
      <h2>Faithful <span>Milo</span></h2>
      <p>Milo went to the woods. He took a fun ride and never came back.</p>
      <a href="#">View more</a>
    </figcaption>
  </figure>
  <figure class="effect-milo">
    <img src="{{ user.img }}" alt="..." />
    <figcaption>
      <h2>Faithful <span>Milo</span></h2>
      <p>Milo went to the woods. He took a fun ride and never came back.</p>
      <a href="#">View more</a>
    </figcaption>
  </figure>
</div>
