<div class="box-content">
    <h3>Carpetas para sublimar</h3>


    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Productos</th>
            <th scope="col">Precios: Minorista - Mayorista</th>
          </tr>
        </thead>
    
        <tbody>
          <tr>
            <td>
                <div class="row">
                    <div class="col-md-4 col-xs-4"><div class="productos-img"></div></div>
                    <div class="col-md-8 col-xs-8">CARPETAS PARA SUBLIMAR</div>
                </div>
            </td>
            <td> Minorista:$285.00-A partir de 20 un.$255.00</td>
          </tr>
          <tr>
            <td>
                <div class="row">
                    <div class="col-md-4 col-xs-4"><div class="productos-img"></div></div>
                    <div class="col-md-8 col-xs-8">CARPETAS PARA SUBLIMAR</div>
                </div>
            </td>
            <td> Minorista:$285.00-A partir de 20 un.$255.00</td>
          </tr>
          <tr>
            <td>
                <div class="row">
                    <div class="col-md-4 col-xs-4"><div class="productos-img"></div></div>
                    <div class="col-md-8 col-xs-8">CARPETAS PARA SUBLIMAR</div>
                </div>
            </td>
            <td> Minorista:$285.00-A partir de 20 un.$255.00</td>
          </tr>      <tr>
            <td>
                <div class="row">
                    <div class="col-md-4 col-xs-4"><div class="productos-img"></div></div>
                    <div class="col-md-8 col-xs-8">CARPETAS PARA SUBLIMAR</div>
                </div>
            </td>
            <td> Minorista:$285.00-A partir de 20 un.$255.00</td>
          </tr>      <tr>
            <td>
                <div class="row">
                    <div class="col-md-4 col-xs-4"><div class="productos-img"></div></div>
                    <div class="col-md-8 col-xs-8">CARPETAS PARA SUBLIMAR</div>
                </div>
            </td>
            <td> Minorista:$285.00-A partir de 20 un.$255.00</td>
          </tr>      <tr>
            <td>
                <div class="row">
                    <div class="col-md-4 col-xs-4"><div class="productos-img"></div></div>
                    <div class="col-md-8 col-xs-8">CARPETAS PARA SUBLIMAR</div>
                </div>
            </td>
            <td> Minorista:$285.00-A partir de 20 un.$255.00</td>
          </tr>      <tr>
            <td>
                <div class="row">
                    <div class="col-md-4 col-xs-4"><div class="productos-img"></div></div>
                    <div class="col-md-8 col-xs-8">CARPETAS PARA SUBLIMAR</div>
                </div>
            </td>
            <td> Minorista:$285.00-A partir de 20 un.$255.00</td>
          </tr>
    
        </tbody>
      </table>
</div>

<div class="box-content">
    <h3>Carpetas para sublimar</h3>


    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Productos</th>
            <th scope="col">Precios: Minorista - Mayorista</th>
          </tr>
        </thead>
    
        <tbody>
          <tr>
            <td>
                <div class="row">
                    <div class="col-md-4 col-xs-4"><div class="productos-img"></div></div>
                    <div class="col-md-8 col-xs-8">CARPETAS PARA SUBLIMAR</div>
                </div>
            </td>
            <td> Minorista:$285.00-A partir de 20 un.$255.00</td>
          </tr>
          <tr>
            <td>
                <div class="row">
                    <div class="col-md-4 col-xs-4"><div class="productos-img"></div></div>
                    <div class="col-md-8 col-xs-8">CARPETAS PARA SUBLIMAR</div>
                </div>
            </td>
            <td> Minorista:$285.00-A partir de 20 un.$255.00</td>
          </tr>
          <tr>
            <td>
                <div class="row">
                    <div class="col-md-4 col-xs-4"><div class="productos-img"></div></div>
                    <div class="col-md-8 col-xs-8">CARPETAS PARA SUBLIMAR</div>
                </div>
            </td>
            <td> Minorista:$285.00-A partir de 20 un.$255.00</td>
          </tr>      <tr>
            <td>
                <div class="row">
                    <div class="col-md-4 col-xs-4"><div class="productos-img"></div></div>
                    <div class="col-md-8 col-xs-8">CARPETAS PARA SUBLIMAR</div>
                </div>
            </td>
            <td> Minorista:$285.00-A partir de 20 un.$255.00</td>
          </tr>      <tr>
            <td>
                <div class="row">
                    <div class="col-md-4 col-xs-4"><div class="productos-img"></div></div>
                    <div class="col-md-8 col-xs-8">CARPETAS PARA SUBLIMAR</div>
                </div>
            </td>
            <td> Minorista:$285.00-A partir de 20 un.$255.00</td>
          </tr>      <tr>
            <td>
                <div class="row">
                    <div class="col-md-4 col-xs-4"><div class="productos-img"></div></div>
                    <div class="col-md-8 col-xs-8">CARPETAS PARA SUBLIMAR</div>
                </div>
            </td>
            <td> Minorista:$285.00-A partir de 20 un.$255.00</td>
          </tr>      <tr>
            <td>
                <div class="row">
                    <div class="col-md-4 col-xs-4"><div class="productos-img"></div></div>
                    <div class="col-md-8 col-xs-8">CARPETAS PARA SUBLIMAR</div>
                </div>
            </td>
            <td> Minorista:$285.00-A partir de 20 un.$255.00</td>
          </tr>
    
        </tbody>
      </table>
</div><div class="box-content">
    <h3>Carpetas para sublimar</h3>


    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Productos</th>
            <th scope="col">Precios: Minorista - Mayorista</th>
          </tr>
        </thead>
    
        <tbody>
          <tr>
            <td>
                <div class="row">
                    <div class="col-md-4 col-xs-4"><div class="productos-img"></div></div>
                    <div class="col-md-8 col-xs-8">CARPETAS PARA SUBLIMAR</div>
                </div>
            </td>
            <td> Minorista:$285.00-A partir de 20 un.$255.00</td>
          </tr>
          <tr>
            <td>
                <div class="row">
                    <div class="col-md-4 col-xs-4"><div class="productos-img"></div></div>
                    <div class="col-md-8 col-xs-8">CARPETAS PARA SUBLIMAR</div>
                </div>
            </td>
            <td> Minorista:$285.00-A partir de 20 un.$255.00</td>
          </tr>
          <tr>
            <td>
                <div class="row">
                    <div class="col-md-4 col-xs-4"><div class="productos-img"></div></div>
                    <div class="col-md-8 col-xs-8">CARPETAS PARA SUBLIMAR</div>
                </div>
            </td>
            <td> Minorista:$285.00-A partir de 20 un.$255.00</td>
          </tr>      <tr>
            <td>
                <div class="row">
                    <div class="col-md-4 col-xs-4"><div class="productos-img"></div></div>
                    <div class="col-md-8 col-xs-8">CARPETAS PARA SUBLIMAR</div>
                </div>
            </td>
            <td> Minorista:$285.00-A partir de 20 un.$255.00</td>
          </tr>      <tr>
            <td>
                <div class="row">
                    <div class="col-md-4 col-xs-4"><div class="productos-img"></div></div>
                    <div class="col-md-8 col-xs-8">CARPETAS PARA SUBLIMAR</div>
                </div>
            </td>
            <td> Minorista:$285.00-A partir de 20 un.$255.00</td>
          </tr>      <tr>
            <td>
                <div class="row">
                    <div class="col-md-4 col-xs-4"><div class="productos-img"></div></div>
                    <div class="col-md-8 col-xs-8">CARPETAS PARA SUBLIMAR</div>
                </div>
            </td>
            <td> Minorista:$285.00-A partir de 20 un.$255.00</td>
          </tr>      <tr>
            <td>
                <div class="row">
                    <div class="col-md-4 col-xs-4"><div class="productos-img"></div></div>
                    <div class="col-md-8 col-xs-8">CARPETAS PARA SUBLIMAR</div>
                </div>
            </td>
            <td> Minorista:$285.00-A partir de 20 un.$255.00</td>
          </tr>
    
        </tbody>
      </table>
</div><div class="box-content">
    <h3>Carpetas para sublimar</h3>


    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Productos</th>
            <th scope="col">Precios: Minorista - Mayorista</th>
          </tr>
        </thead>
    
        <tbody>
          <tr>
            <td>
                <div class="row">
                    <div class="col-md-4 col-xs-4"><div class="productos-img"></div></div>
                    <div class="col-md-8 col-xs-8">CARPETAS PARA SUBLIMAR</div>
                </div>
            </td>
            <td> Minorista:$285.00-A partir de 20 un.$255.00</td>
          </tr>
          <tr>
            <td>
                <div class="row">
                    <div class="col-md-4 col-xs-4"><div class="productos-img"></div></div>
                    <div class="col-md-8 col-xs-8">CARPETAS PARA SUBLIMAR</div>
                </div>
            </td>
            <td> Minorista:$285.00-A partir de 20 un.$255.00</td>
          </tr>
          <tr>
            <td>
                <div class="row">
                    <div class="col-md-4 col-xs-4"><div class="productos-img"></div></div>
                    <div class="col-md-8 col-xs-8">CARPETAS PARA SUBLIMAR</div>
                </div>
            </td>
            <td> Minorista:$285.00-A partir de 20 un.$255.00</td>
          </tr>      <tr>
            <td>
                <div class="row">
                    <div class="col-md-4 col-xs-4"><div class="productos-img"></div></div>
                    <div class="col-md-8 col-xs-8">CARPETAS PARA SUBLIMAR</div>
                </div>
            </td>
            <td> Minorista:$285.00-A partir de 20 un.$255.00</td>
          </tr>      <tr>
            <td>
                <div class="row">
                    <div class="col-md-4 col-xs-4"><div class="productos-img"></div></div>
                    <div class="col-md-8 col-xs-8">CARPETAS PARA SUBLIMAR</div>
                </div>
            </td>
            <td> Minorista:$285.00-A partir de 20 un.$255.00</td>
          </tr>      <tr>
            <td>
                <div class="row">
                    <div class="col-md-4 col-xs-4"><div class="productos-img"></div></div>
                    <div class="col-md-8 col-xs-8">CARPETAS PARA SUBLIMAR</div>
                </div>
            </td>
            <td> Minorista:$285.00-A partir de 20 un.$255.00</td>
          </tr>      <tr>
            <td>
                <div class="row">
                    <div class="col-md-4 col-xs-4"><div class="productos-img"></div></div>
                    <div class="col-md-8 col-xs-8">CARPETAS PARA SUBLIMAR</div>
                </div>
            </td>
            <td> Minorista:$285.00-A partir de 20 un.$255.00</td>
          </tr>
    
        </tbody>
      </table>
</div>


