<div class="container">
  <div
    class="content-iterator"
    *ngFor="let section of data; let indice = index"
  >
    <div class="id-scroll" [id]="indice"></div>

    <h3>{{ section.name }}</h3>

    <div class="container-form">
      <div class="general-content-tabs">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a
              class="nav-link active"
              data-toggle="tab"
              [ngClass]="{ active: activeTab === 'home' }"
              (click)="search('home')"
              href="#home"
              >ALTA</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              data-toggle="tab"
              href="#profile"
              [ngClass]="{ active: activeTab === 'profile' }"
              (click)="result('profile')"
              >EDITAR/ELIMINAR</a
            >
          </li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div
            class="tab-pane fade active show"
            [ngClass]="{ active: activeTab === 'home' }"
            id="home"
          >
            <form>
              <div class="form-group">
                <label for="exampleFormControlSelect1"
                  >Seleciona la categoria</label
                >
                <select
                  class="form-control"
                  id="exampleFormControlSelect1"
                  [(ngModel)]="dataSendPost.id_catalogo"
                  [ngModelOptions]="{ standalone: true }"
                >
                  <option
                    *ngFor="let item of data; let indice = index"
                    value="{{ item.id_catalogo }}"
                    >{{ item.name }}</option
                  >
                </select>
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Nombre de Producto</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder="Nombre de producto"
                  [(ngModel)]="dataSendPost.name"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>

              <div class="form-group">
                <label for="exampleFormControlTextarea1"
                  >Escriba una descripcion</label
                >
                <textarea
                  class="form-control"
                  id="exampleFormControlTextarea1"
                  rows="3"
                  [(ngModel)]="dataSendPost.descripcion"
                  [ngModelOptions]="{ standalone: true }"
                ></textarea>
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Cargar imagen</label>
                <input
                  type="file"
                  class="form-control-file"
                  id="exampleFormControlFile1"
                  (change)="changeFile2($event)"
                />
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="defaultCheck1"
                  [(ngModel)]="dataSendPost.disponible"
                  [ngModelOptions]="{ standalone: true }"
                />
                <label class="form-check-label" for="defaultCheck1">
                  Disponible
                </label>
              </div>
              <br />
              <button
                type="button"
                class="btn btn-primary btn-lg btn-block btn-sm"
                (click)="sendMesage2(indice)"
              >
                Guardar
              </button>
            </form>
          </div>
          <div
            class="tab-pane fade show"
            [ngClass]="{ active: activeTab === 'profile' }"
            id="profile"
          >
            <form action="">
              <div class="form-group">
                <label for="exampleFormControlSelect1"
                  >Seleciona la categoria</label
                >
                <select
                  class="form-control"
                  id="exampleFormControlSelect1"
                  [(ngModel)]="dataSendPost.id_catalogo"
                  [ngModelOptions]="{ standalone: true }"
                >
                  <option
                    *ngFor="let item of data; let indice = index"
                    value="{{ item.id_catalogo }}"
                    >{{ item.name }}</option
                  >
                </select>
                <div
                  class="content-padre-edit-and-delete"
                  *ngFor="
                    let item of data | filter: dataSendPost.id_catalogo;
                    let indice = index
                  "
                >
                  <div>
                    <div class="div-content-edit-and-delete">
                      <p>{{ item.name }}</p>

                      <div class="content-button">
                        <button
                          class="btn btn-light"
                          (click)="passDataToTabs(item)"
                          (click)="result('home')"
                        >
                          <img
                            src="https://img.icons8.com/android/24/000000/ball-point-pen.png"
                          /></button
                        ><button
                          (click)="deleteObject(item, dataSendPost.id_catalogo)"
                          class="btn btn-danger"
                        >
                          <img
                            src="https://img.icons8.com/windows/32/000000/delete-forever.png"
                            alt=""
                          />
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
