  <div class="container categoria">
    <div class="scroll-position" id="productos"></div>

    <h1> Producto</h1>
  
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="altaproducto" data-toggle="tab" href="#alta-producto" role="tab" aria-controls="alta-producto" aria-selected="true" [ngClass]="{ 'active':activeTab=='alta'}" >Alta</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="eeproducto" data-toggle="tab" href="#ee-producto" role="tab" aria-controls="ee-producto" aria-selected="false" (click)="getCategorias();result('ee')"   [ngClass]="{ 'active':activeTab=='ee'}">Editar/Eliminar </a>
      </li>
    </ul>


    <div class="box-loading" *ngIf="showLoading">
      <div class="spinner-border text-success" ></div><span>CARGANDO...</span>
    </div>
  
  
    <div class="tab-content" id="myTabContent"  *ngIf="!showLoading">
  
      <div class="tab-pane fade show active" id="alta-producto" role="tabpanel" aria-labelledby="altaproducto"  [ngClass]="{ 'active':activeTab=='alta','show':activeTab=='alta'}">
  
        <form #producto="ngForm">

          <label for="">Categoría</label>
          <select id="inputState"  #inputState name="select-categoria" class="form-control" [(ngModel)]="idCategoria" (change)="getSelectAddId(inputState)">
            <option *ngFor="let categoria of arrayCategoria" [value]="categoria._id" >{{categoria.nombre}} </option>
          </select> 

          <input type="text" [(ngModel)]="nombre" name="nombreProdcuto"  placeholder="Nombre">
  
          <textarea name="" id=""  [(ngModel)]="descripcion" name="descripcionProdcuto" placeholder="Descripción"  cols="30" rows="10"></textarea>

          <input type="text" [(ngModel)]="subTitulo" name="subTitulo"  placeholder="Sub Titulo">
  
          <textarea name="detalle" id=""  [(ngModel)]="detalle" placeholder="Detalle"  cols="30" rows="10"></textarea>
  
          <div class="btn-upload">
            <input type="file" id="producto" name="producto"  (change)="cargarImgProducto($event.target.files)"  placeholder="cargar Imagen">
            <label for="producto" class="btn-2">{{btnImagen}}</label>

            <div class="box-img"  *ngIf="!putImage">
              <div class="img" *ngIf="imgURLPreview"  [ngStyle]="{'background-image':'url('+ imgURLPreview +')'}"></div>
            </div>

            <div *ngIf="putImage">
              <div class="img "  [ngStyle]="{'background-image':'url(https://serviceemds.herokuapp.com/media/producto/'+ img+')'}">  </div>
            </div>
          </div>
  
        </form>
  
        <button (click)="postProducto(producto)"   class="btn">{{nameBtn}}</button>
  
      </div>
  
      <div class="tab-pane fade" id="ee-producto" role="tabpanel" aria-labelledby="eeproducto"  [ngClass]="{ 'active':activeTab=='ee','show':activeTab=='ee'}">
        <div class="spinner-border text-success" *ngIf="showLoading"></div>

        <div *ngIf="!showLoading">

          <label for="">Categoría</label>
          <select id="editselect" #editselect name="select-categoria2" class="form-control" (change)="getProducto(editselect)">
            <option *ngFor="let categoria of arrayCategoria" [value]="categoria._id" >{{categoria.nombre}}</option>
          </select>
  
          <table>
            <tr>
              <th>Producto</th>
              <th>Editar</th>
              <th>Eliminar</th>
            </tr>
            <tr *ngFor="let producto of arrayProducto">
              <td>{{producto.nombre}}</td>
              <td><button (click)="editar(producto,'alta')" class="btn-table">Editar</button></td>
              <td><button (click)="deleteProducto(producto)" class="btn-table">Eliminar</button></td>
            </tr>
          </table>

        </div>

      </div>
  
    </div>
  </div>
  
  
  
