<div class="container">
  <div class="col-12 col-md-12 col-lg-12">
    <div class="jumbotron">
      <blockquote class="text-center">
        <h3 class="display-4">Preguntas Frecuentes</h3>

        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button
                  class="btn btn-link btn-block text-left"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  ¿Cuánto duran las tintas de sublimacion?
                  <span class="badge badge-primary">9</span>
                  <span class="sr-only">unread messages</span>
                </button>
              </h2>
            </div>

            <div
              id="collapseOne"
              class="collapse show"
              aria-labelledby="headingOne"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                Duración de la tinta de Sublimación. Imprimir La durabilidad
                teórica de la tinta de Sublimación es: a) En envase cerrado de
                litro dura 2 años. b) Una vez abierto el envase la durabilidad
                es de 4 a 6 meses.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button
                  class="btn btn-link btn-block text-left collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  ¿Qué tipo de tinta se usa para sublimar?
                  <span class="badge badge-primary">9</span>
                  <span class="sr-only">unread messages</span>
                </button>
              </h2>
            </div>
            <div
              id="collapseTwo"
              class="collapse"
              aria-labelledby="headingTwo"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                De hecho la impresora de sublimación es una impresora inkjet
                diseñada para imprimir papel, a la que se le instalan tintas de
                sublimación. Por todas estas razones, siempre aconsejamos
                comprar una impresora inkjet nueva para dedicarla exclusivamente
                a la sublimación.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button
                  class="btn btn-link btn-block text-left collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  ¿Cuál es la mejor marca de tinta para sublimar?
                  <span class="badge badge-primary">9</span>
                  <span class="sr-only">unread messages</span>
                </button>
              </h2>
            </div>
            <div
              id="collapseThree"
              class="collapse"
              aria-labelledby="headingThree"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                Las mejores marcas fabricantes de tintas de sublimación son
                Bramacartuchos y Color Make. De hecho son las tintas que
                utilizamos para realizar nuestros trabajos.
              </div>
            </div>
          </div>
        </div>
      </blockquote>
    </div>
  </div>
</div>
