<div class="container">
  <div class="col-12 col-md-12 col-lg-12">
    <div class="jumbotron">
      <blockquote class="text-center">
        <h3 class="display-4 mb-5">Preguntas Frecuentes</h3>

        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button
                  class="btn btn-link btn-block text-left"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  - Cuáles son las formas de pago?
                </button>
              </h2>
            </div>

            <div
              id="collapseOne"
              class="collapse show"
              aria-labelledby="headingOne"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                Por el momento aceptamos pagos en efectivo y/o transferencia
                bancaria o depósito bancario.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button
                  class="btn btn-link btn-block text-left collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  - Se puede ir a comprar a la fábrica?
                </button>
              </h2>
            </div>
            <div
              id="collapseTwo"
              class="collapse"
              aria-labelledby="headingTwo"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                Si, podes acercarte a la fábrica directamente. Los horarios de
                atención son de Lunes a Viernes de 9 a 17 hs y Sábados de 10 a
                13 hs. Los esperamos!
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button
                  class="btn btn-link btn-block text-left collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  -Si no puedo acercarme... Ustedes hacen envíos a domicilio?
                </button>
              </h2>
            </div>
            <div
              id="collapseThree"
              class="collapse"
              aria-labelledby="headingThree"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                Si, hacemos envios a domicilio en moto o en auto, dependiendo
                del bulto de la compra.
              </div>
            </div>
          </div>
          <!--primera de 4-->
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button
                  class="btn btn-link btn-block text-left collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  - Hacen envios a todo el pais?
                </button>
              </h2>
            </div>
            <div
              id="collapseThree"
              class="collapse"
              aria-labelledby="headingThree"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                Si, hacemos envios a todo el pais. Si sos de Misiones o de
                Tierra del Fuego te pedimos que por favor avises antes de
                realizar el pedido ya que eso deberá ir facturado si o si.
                Generalmente a Tierra del Fuego se envia mediante un transporte
                ubicado en Capital, deberá abonar el flete hasta dicha terminal.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button
                  class="btn btn-link btn-block text-left collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  - Hay mínimo de compra?
                </button>
              </h2>
            </div>
            <div
              id="collapseThree"
              class="collapse"
              aria-labelledby="headingThree"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                -No, no tenemos mínimo de compra. Los clientes del interior
                tampoco tienen minimo de compra.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button
                  class="btn btn-link btn-block text-left collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  - Los precios están actualizados?
                </button>
              </h2>
            </div>
            <div
              id="collapseThree"
              class="collapse"
              aria-labelledby="headingThree"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                -Los precios pueden sufrir variaciones sin previo aviso, antes
                de realizar la compra se le enviará el presupuesto del pedido
                realizado y podrá ver si hubo modificaciones. Pero generalmente
                los tenemos actualizados tanto en el PDF como en la WEB.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button
                  class="btn btn-link btn-block text-left collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  - Los precios son sin IVA?
                </button>
              </h2>
            </div>
            <div
              id="collapseThree"
              class="collapse"
              aria-labelledby="headingThree"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                -Si, los precios son sin IVA. No hacemos factura A por el
                momento.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button
                  class="btn btn-link btn-block text-left collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  - Con qué transportes trabajan generalmente para envios al
                  interior?
                </button>
              </h2>
            </div>
            <div
              id="collapseThree"
              class="collapse"
              aria-labelledby="headingThree"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                Nosotros en Lanús tenemos estos transportes: Crucero Express,
                Via Cargo, Md Cargas, Ruta Cargo, Integral Pack, Oca,Andes Mar,
                Buspack. Si usted quiere un transporte en particular deberá
                abonar un flete hasta la terminal corresponiente. No cobramos
                embalaje ni adicionales si le dejamos la caja en alguno de los
                transportes mencionados anteriormente.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button
                  class="btn btn-link btn-block text-left collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  -Todos los insumos que venden son para sublimar?
                </button>
              </h2>
            </div>
            <div
              id="collapseThree"
              class="collapse"
              aria-labelledby="headingThree"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                La gran parte de los productos si son para sublimar y algunos
                son para vinilo. Pero la mayoria son sublimables y fabricados
                por nosotros!
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button
                  class="btn btn-link btn-block text-left collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  -Si anteriormente hice una compra y ya tengo sus datos
                  bancarios puedo transferir directamente?
                </button>
              </h2>
            </div>
            <div
              id="collapseThree"
              class="collapse"
              aria-labelledby="headingThree"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                No, una vez cotizado el pedido deberá esperar a que le pasemos
                una cuenta bancaria para que pueda realizar el pago de su
                pedido. En caso que se le haya complicado depositar o transferir
                el dia que se le cotizo el pedido, deberá comunicarse con
                nosotros para confirmar que el stock, y la cuenta bancaria siga
                siendo la misma.
              </div>
            </div>
          </div>
        </div>
      </blockquote>
    </div>
  </div>
</div>
