<div class="general-container">
  <nav
    id="examplenav"
    class="navbar navbar-expand-lg navbar-light mb-5 fixed-top"
  >
    <div class="container">
      <a class="navbar-brand" href="#">
        <div class="imgelogo"></div>
        <div class="conteiner-text-animation">
          <ul>
            <li>Fabricantes</li>
            <li>De Productos</li>
            <li>Para Sublimar</li>
          </ul>
        </div>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a
            class="nav-item nav-link active hvr-float-shadow"
            (click)="gotoPage('inicio')"
            >INICIO</a
          >
          <a
            class="nav-item nav-link hvr-float-shadow"
            (click)="gotoPage('catalogo')"
            >PRODUCTOs</a
          >
          <a class="nav-item nav-link hvr-float-shadow" href="#section4"
            >PREG FRECUENTES</a
          >
          <a class="nav-item nav-link hvr-float-shadow" href="#contacto"
            >CONTACTO</a
          >
        </div>
      </div>
    </div>
  </nav>
</div>
<nav id="navbar2" class="navbar navbar-light mt-5">
  <div class="container">
    <form class="form-inline my-2 my-lg-0 ml-auto">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Buscar Poducto"
        aria-label="Search"
      />
      <button class="btn btn-success my-2 my-sm-0" type="submit">
        Buscar
      </button>
    </form>
  </div>
</nav>
