<div class="general-container">
  <div class="line-black"></div>
  <nav
    id="examplenav"
    class="navbar navbar-expand-lg navbar-light mb-5 fixed-top"
  >
    <div class="container">
      <a class="navbar-brand" href="#">
        <div class="imgelogo"></div>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <div class="lines-item">
            <a class="nav-item nav-link active" (click)="gotoPage('inicio')"
              >INICIO</a
            >
          </div>
          <div class="lines-item">
            <a class="nav-item nav-link" (click)="gotoPage('catalogo')"
              >CATEGORIAS</a
            >
          </div>
          <div class="lines-item">
            <a class="nav-item nav-link" (click)="gotoPage('comprar')"
              >COMO COMPRAR</a
            >
          </div>
          <div class="lines-item">
            <a class="nav-item nav-link" (click)="gotoPage('preguentas')"
              >PREG FRECUENTES</a
            >
          </div>
          <div class="lines-item">
            <a class="nav-item nav-link" (click)="gotoPage('contacto')"
              >CONTACTO</a
            >
          </div>
        </div>
        <div id="wrap">
          <form action="" autocomplete="on">
            <input
              id="search"
              name="search"
              type="text"
              placeholder="Que desea buscar ?"
            /><input id="search_submit" value="Rechercher" type="submit" />
          </form>
        </div>
      </div>
    </div>
  </nav>
</div>
<!-- <nav id="navbar2" class="navbar navbar-light mt-5">
  <div class="container mb-5"></div>
</nav> -->
