<div class="general-container mb-5">
  <div class="line-black"></div>
  <nav
    id="examplenav"
    class="navbar navbar-expand-lg navbar-light mb-5 fixed-top"
  >
    <div class="container">
      <a class="navbar-brand" href="#">
        <div class="imgelogo"></div>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <div
            class="lines-item btn-border-5"
            [ngClass]="{ 'active-link':  utils.getSelectMenu() == 'inicio' }"
            (click)="gotoPage('inicio','')"
          >
            <a class="nav-item nav-link active">INICIO </a>
          </div>
          <div
            class="lines-item btn-border-5"
            [ngClass]="{ 'active-link': utils.getSelectMenu() == 'catalogo' }"
            (click)="gotoPage('catalogo','')"
          >
            <a class="nav-item nav-link">CATEGORIAS</a>
          </div>
          <div
            class="lines-item btn-border-5"
            [ngClass]="{ 'active-link':  utils.getSelectMenu() == 'comprar' }"
            (click)="gotoPage('comprar','')"
          >
            <a class="nav-item nav-link">COMO COMPRAR</a>
          </div>
          <div
            class="lines-item btn-border-5"
            [ngClass]="{ 'active-link':  utils.getSelectMenu() == 'preguentas' }"
            (click)="gotoPage('preguentas','')"
          >
            <a class="nav-item nav-link">PREG FRECUENTES</a>
          </div>
          <div
            class="lines-item btn-border-5"
            [ngClass]="{ 'active-link':  utils.getSelectMenu() == 'contacto' }"
            (click)="gotoPage('contacto','')"
          >
            <a class="nav-item nav-link">CONTACTO</a>
          </div>
        </div>
        <div id="wrap">
          <form action="" autocomplete="on">
            <input
              id="search"
              name="search"
              type="text"
              placeholder="Que desea buscar ?"
              [(ngModel)]="searchSelect"
              [ngModelOptions]="{ standalone: true }"
              (keyup.enter)="gotoPage('galeria',searchSelect)"
              
            /><input id="search_submit" value="Rechercher" type="submit" />
          </form>
          <div class="content-table">
            <table class="table" *ngIf="searchSelect">
              <tbody>
                <tr
                  *ngFor="
                    let item of arrayImages2 | search: searchSelect;
                    let indice = index
                  "
                >
                  <td>{{ item.title }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
<!-- <nav id="navbar2" class="navbar navbar-light mt-5">
  <div class="container mb-5"></div>
</nav> -->
