<div class="container">
  <h2>{{informacionProducto.nombre}}</h2>
  <div class="row">
    <div class="col-md-6 col-xs-6">
      <div class="img"  [ngStyle]="{'background-image':'url(http://localhost:3000/media/producto/'+ informacionProducto.img +')'}" ></div>
    </div>
    <div class="col-md-6 col-xs-6">
      <h4>Descripción:</h4>
      <p>
        {{informacionProducto.descripcion}}
      </p>
    </div>
  </div>


  <div  class="tab-pane fade show active"  id="nav-home"  role="tabpanel"  aria-labelledby="nav-home-tab">
  <h3> {{informacionProducto.subTitulo}}</h3>
  <p> {{informacionProducto.detalle}}</p> 
</div>
</div>
