.img{
    background-image: url('../../assets/imagenes/carpeta.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 40vh;
    width: 100%;
    cursor: pointer;
    border-right: 1px solid grey;
}


h2 {
    text-align: center;
    margin-bottom: 50px;
}