input,textarea {
    width: 100%;
    margin-top: 10px;
}

.check {
    width: initial;
    margin-right: 20px;
}

.categoria {
    min-height: 70vh;
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
    padding-bottom: 10px;

    .box-img{
        height: 100px;
        width: 190px;
        display: inline-block;
        .img{
            height: 100px;
            width: 100%;
            border: 1px solid #d2cece;
            margin: 5px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
        }
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

tr{
    th:nth-child(1){
        width: 80%;
    }
    th:nth-child(2){
        width: 10%;
    }
    th:nth-child(3){
        width: 10%;
    }
} 

h1{
    text-align: center;
    font-size: 2em;
} 

.btn{
    margin: auto;
    text-align: center;
    width: 112px;
    height: 45px;
    border-radius: 20px;
    margin-top: 32px;
    border: none;
    color: white;
    background-color: #b3c984;
}

.btn-table{
    background-color: #b3c984;
    border: none;
    color: white;
    border-radius: 5%;
    height: 30px;
    width: 100%;
}