<div class="container categoria">
  <div class="scroll-position" id="categoria"></div>

  <h1> Categoría</h1>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" [ngClass]="{ 'active':activeTab==='alta'}" >Alta</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" (click)="getCategorias()"   [ngClass]="{ 'active':activeTab==='ee'}" (click)="result('ee')">Editar/Eliminar </a>
    </li>
  </ul>


  <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"   [ngClass]="{ 'active':activeTab=='alta','show':activeTab=='alta'}">

      <form  #categoriaform name="categoria" enctype="multipart/form-data">


        <input type="text" [(ngModel)]="nombre" name="nombreCategoria"  placeholder="Nombre">

        <textarea name="" id=""  [(ngModel)]="descripcion" name="descripcionCategoria" placeholder="Descripción"  cols="30" rows="10"></textarea>

        <div class="">
          <input type="file"  id="imagenCatgoria" name="imagenCatgoria"  (change)="cargarImgCategoria($event.target.files)"  placeholder="cargar Imagen">
          <label for="imagenCatgoria" class="btn-2">{{btnImagen}}</label>
          
          <div class="box-img" *ngIf="!putImage">
            <div class="img" *ngIf="imgURLPreview"  [ngStyle]="{'background-image':'url('+ imgURLPreview +')'}"></div>
          </div>

          <div *ngIf="putImage">
            <div class="img "  [style.background-image]="'url(' +  _sanitizer.bypassSecurityTrustResourceUrl('data:'+ allDataPut.mimetype+';base64,' + allDataPut.base64).changingThisBreaksApplicationSecurity + ')'">  </div>
          </div>
        </div>

      </form>
      <button (click)="postCategoria(categoriaform)"   class="btn">{{nameBtn}}</button>

    </div>

    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"   [ngClass]="{ 'active':activeTab=='ee','show':activeTab=='ee'}">
      <div class="spinner-border text-success" *ngIf="showLoading"></div>
      <table *ngIf="!showLoading">
        <tr>
          <th>Nombre</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
        <tr *ngFor="let categoria of arrayCategoria">
          <td>{{categoria.nombre}}</td>
          <td><button (click)="editar(categoria,'alta')" class="btn-table">Editar</button></td>
          <td><button (click)="deleteCategoria(categoria)" class="btn-table">Eliminar</button></td>
        </tr>

      </table>
    </div>

  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        El elemento {{namePopup}} se eliminara
      </div>
      <div class="modal-footer">
        <button type="button" class="btn " data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn " (click)="popupDelete()">Eliminar</button>
      </div>
    </div>
  </div>
</div>
