<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar" [ngClass]="{ active: toggle }" class="">
    <ul class="list-unstyled components scrollbar shadow p-3 mb-5 rounded">

      <li class="active" (click)="navigateToHeader('slide')">
        <a  href="#homeSubmenu"  data-toggle="collapse"  aria-expanded="false"   >
          <span class="span-icon" > </span>   HOME</a>
      </li>

      <li class="active"  (click)="navigateToHeader('categoria')">
        <a  href="#homeSubmenu2"  data-toggle="collapse"  aria-expanded="false"  ><span class="span-icon" ></span>
          CATEGORIAS</a >
      </li>

      <li class="active"  (click)="navigateToHeader('productos')">
        <a   href="#homeSubmenu2"    data-toggle="collapse"    aria-expanded="false" >
          <span class="span-icon" ></span>   PRODUCTOS</a>
      </li>

      <li class="active"  (click)="navigateToHeader('preguntas')">
        <a href="#homeSubmenu3"   data-toggle="collapse"  aria-expanded="false" ><span class="span-icon"  ></span>
          PREGUNTAS FRECUENTES</a>
      </li>

      <li class="active"  (click)="navigateToHeader('compra')">
        <a  href="#homeSubmenu4"  data-toggle="collapse"  aria-expanded="false"  ><span class="span-icon"   ></span>
          COMO COMPRAR</a >
      </li>
    </ul>

  </nav>
  <!-- Page Content -->

  <!-- Page Content -->
  <div id="content" class="container">
  
    <!-- aca van los componentes -->
    <div class="table">

      <app-homeslide></app-homeslide>

      <app-categoria ></app-categoria>

      <app-productos ></app-productos>

      <app-preguntas ></app-preguntas>

      <app-noticias ></app-noticias>

    </div>
  </div>
</div>
