<div class="container">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-12">
      <div class="jumbotron">
        <blockquote class="text-center">
          <h2>¿COMO COMPRAR?</h2>
          <h3 class="text-compra-1">
            PASOS A SEGUIR PARA REALIZAR UN PEDIDO
          </h3>
          <br />

          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button
                    class="btn btn-link btn-block text-left"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    - ENVIANOS TU PEDIDO
                  </button>
                </h2>
              </div>

              <div
                id="collapseOne"
                class="collapse show"
                aria-labelledby="headingOne"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  Los pedidos por el momento son unicamente por WhatsApp. Deberá
                  estar detallado en un sólo mensaje, en caso que agregue
                  productos asegurese en la cotización final que figuren. Usted
                  deberá detallar el nombre del producto, el color, las
                  cantidades, el gramaje, los metros, las medidas, dependiendo
                  del producto que esté solicitando. Es MUY importante que
                  detalle todo para no demorar su cotización.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button
                    class="btn btn-link btn-block text-left collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                  >
                    - COTIZACION DEL PEDIDO
                  </button>
                </h2>
              </div>
              <div
                id="collapseTwo"
                class="collapse"
                aria-labelledby="headingTwo"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  Se le enviará el detalle de su pedido con el monto total a
                  abonar en una cuenta bancaria, la cual servirá para el día que
                  realiza la compra, en caso que no pueda hacerlo ese día por
                  favor comunicarse con nosotros.
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button
                    class="btn btn-link btn-block text-left collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                  >
                    - ABONAR
                  </button>
                </h2>
              </div>
              <div
                id="collapseThree"
                class="collapse"
                aria-labelledby="headingThree"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  Por el momento las formas de pago son transferencia y/o
                  deposito bancario, también efectivo si retiran en fábrica.
                </div>
              </div>
            </div>
            <!--primera de 4-->
            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button
                    class="btn btn-link btn-block text-left collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                  >
                    -COMPROBANTE DE PAGO
                  </button>
                </h2>
              </div>
              <div
                id="collapseThree"
                class="collapse"
                aria-labelledby="headingThree"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  Deberá enviar el comprobante de pago junto a su cuit/cuil. Si
                  el pedido es para enviar por encomienda deberá completar los
                  siguientes datos: Nombre completo: Dni y cuit/cuil: Teléfono:
                  Provincia/Localidad: Codigo postal: Retira en: En caso que sea
                  domicilio: *Datos del domicilio* En caso que sea terminal: EJ:
                  *TERMINAL DEL CRUCERO EXPRESS*
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button
                    class="btn btn-link btn-block text-left collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                  >
                    -TRANSPORTES PARA EL INTERIOR
                  </button>
                </h2>
              </div>
              <div
                id="collapseThree"
                class="collapse"
                aria-labelledby="headingThree"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  Trabajamos con Crucero Express, Md Cargas, Vía Cargo, Oca,
                  Integrsl Pack, Buspack, Andes Mar, Ruta Cargo. En caso que
                  desee un expreso en particular deberá enviarnos la dirección y
                  el nombre de la empresa de transporte para cotizarle el viaje
                  hasta dicha terminal. La cuál será a cargo del comprador.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button
                    class="btn btn-link btn-block text-left collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                  >
                    -DESPACHO DE LA MERCADERIA
                  </button>
                </h2>
              </div>
              <div
                id="collapseThree"
                class="collapse"
                aria-labelledby="headingThree"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  Generalmente despachamos el mismo dia que se realiza el pago
                  del pedido dependiendo del stock disponible y del horario en
                  el que se efectuó el pago.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button
                    class="btn btn-link btn-block text-left collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                  >
                    -COMPROBANTE DE ENVIO
                  </button>
                </h2>
              </div>
              <div
                id="collapseThree"
                class="collapse"
                aria-labelledby="headingThree"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  Se le enviará por el mismo medio que realizó la compra el
                  comprobante de envío.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button
                    class="btn btn-link btn-block text-left collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                  >
                    -COMISIONISTAS
                  </button>
                </h2>
              </div>
              <div
                id="collapseThree"
                class="collapse"
                aria-labelledby="headingThree"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  El comisionista que retira su mercaderia deberá saber los
                  horarios de atención que tenemos, y a nombre de quién retira.
                  Para eso, es importante que al momento de efectuar el pedido
                  nos indique sus datos personales.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button
                    class="btn btn-link btn-block text-left collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                  >
                    -ENVIOS POR MOTO O CAMIONETA
                  </button>
                </h2>
              </div>
              <div
                id="collapseThree"
                class="collapse"
                aria-labelledby="headingThree"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  Dependiendo el bulto de su compra podriamos enviarle su pedido
                  por moto o camioneta. Para esto deberá indicarnos su localidad
                  y dirección exacta para poder enviarle una cotización exacta
                  de su envío.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button
                    class="btn btn-link btn-block text-left collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                  >
                    -RETIROS EN FABRICA
                  </button>
                </h2>
              </div>
              <div
                id="collapseThree"
                class="collapse"
                aria-labelledby="headingThree"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  Si es usted quien retira en fábrica puede llamar para
                  asegurarse el stock y retirar directamente en fabrica sin
                  hacer pedido previo. Si usted enviará a alguien a retirar su
                  pedido, deberá aclararlo al momento de realizarlo. Mencionando
                  su nombre completo, para que la persona la cual retira lo haga
                  a nombre suyo.
                </div>
              </div>
            </div>
          </div>
        </blockquote>
      </div>
    </div>
  </div>
</div>
