<div class="container">
  <div class="row">
    <div class="col-12 comprar">
      <h2 class="text-compra-1">
        Si Desea realizar un pedido deberia hacerlo de la siguiente manera
      </h2>
      <br />
      <ul class="section-list1">
        <li>
          Los pedidos por el momento
          <span class="spantext">Son unicamente por WhatsApp</span> tanto para
          el interior como para los clientes de Buenos Aires
        </li>
        <hr />
        <li>
          <span class="spantext"
            >El pedido deberia estar detallado en un solo mensaje</span
          >
          ya que si despues se agregarn producso al pedido se pueden extraviar
          entre los mensajes, en caso que quiera agregar, chequee que en la
          boleta este lo agregado.
        </li>
        <hr />
        <li>
          <span class="spantext">En el pedido debera detallar el producto</span
          >, es decir por cantidades por color por medida por gramaje , por
          metros dependiendo del producto que necesite es muy importante el
          detalle del producto que desea comprar para que no haya confusiones y
          para que no se le demore la compra.
        </li>
        <hr />
        <li>
          Si contamos con stock de todo lo que solicita, se le enviara el mismo
          dia que usted abona el total de su compra , o al otro dia dependiendo
          el horario que se realizo la transferencia/depocito bancario.
        </li>
        <hr />
        <li>
          En caso que se realize una
          <span class="spantext">Transferencia o depocito bancario</span> debera
          enviar el comprobante de pago junto a su CUIT CUIL o DNI
        </li>
      </ul>
      <div class="banner"></div>
      <h2>Retiros en fabrica</h2>
      <br />
      <ul class="section-list2">
        <li>
          Si el pedido es <span class="spantext">Para retirar</span> puede pasar
          directamente por la fabrica sin hacer pedido previo por WhatsApp ,en
          caso que quiera asegurarse el stock puede llamar y confirmar
        </li>
        <hr />
        <li>
          Si hacen pedido por WhatsApp pero retira otra persona anombre suyo
          usted debera enviar el pedido detallado con su nombre completo
        </li>
      </ul>
    </div>
  </div>
</div>
