@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;900&display=swap');
.container{
    .row{

      .content-text-title{
        text-align: center;
        -webkit-animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          

          @-webkit-keyframes fade-in-right {
            0% {
              -webkit-transform: translateX(50px);
                      transform: translateX(50px);
              opacity: 0;
            }
            100% {
              -webkit-transform: translateX(0);
                      transform: translateX(0);
              opacity: 1;
            }
          }
          @keyframes fade-in-right {
            0% {
              -webkit-transform: translateX(50px);
                      transform: translateX(50px);
              opacity: 0;
            }
            100% {
              -webkit-transform: translateX(0);
                      transform: translateX(0);
              opacity: 1;
            }
          }
          
      }
        .jumbotron{
            background-color: transparent;
            -webkit-animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
              
             h2,h3{
                font-family: 'Lato', sans-serif;
                color: black;
                font-weight: 700;
             }

            .card-header{
              button{
                font-family: 'Lato', sans-serif;
                color: gray;
                font-weight: 900;
              }
            }
            .card-body{
              font-family: 'Lato', sans-serif;
                color: black;
                font-weight: 300;
            }


            @-webkit-keyframes fade-in-left {
              0% {
                -webkit-transform: translateX(-50px);
                        transform: translateX(-50px);
                opacity: 0;
              }
              100% {
                -webkit-transform: translateX(0);
                        transform: translateX(0);
                opacity: 1;
              }
            }
            @keyframes fade-in-left {
              0% {
                -webkit-transform: translateX(-50px);
                        transform: translateX(-50px);
                opacity: 0;
              }
              100% {
                -webkit-transform: translateX(0);
                        transform: translateX(0);
                opacity: 1;
              }
            }
            
        }
    }
}


