<div class="container">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-12">
      <div class="content-text-title">
        <h2>¿COMO COMPRAR?</h2>
        <h3 class="text-compra-1">
          PASOS A SEGUIR PARA REALIZAR UN PEDIDO
        </h3>
        <br />
      </div>
      <div class="jumbotron">
        <blockquote class="text-center">
          <div class="accordion" id="accordionExample">

            <div class="card" *ngFor="let pregResp of arrayPregRes; index as i">
              <div class="card-header" id="headingOne{{i}}" (click)="setId(i)">
                <h2 class="mb-0">
                  <button  class="btn btn-link btn-block text-left"  [ngClass]="{'collapsed':  idSelected != i}"   type="button"   data-toggle="collapse"  data-target="#collapseOne{{i}}"  aria-expanded="false"   aria-controls="collapseOne{{i}}"   >
                     {{pregResp.pregunta}}
                  </button>
                </h2>
              </div>
  
              <div  id="collapseOne{{i}}"   class="collapse " [ngClass]="{'show':  idSelected == i}"   aria-labelledby="headingOne{{i}}"   data-parent="#accordionExample"   >
                <div class="card-body">
                  {{pregResp.respuesta}}
                </div>
              </div>
            </div>

          </div>
        </blockquote>
      </div>
    </div>
  </div>
</div>
