@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.container-banner-env{
    width: 100%;
    max-width: 896px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    margin: auto;
  
     span{
         font-size: 90px;
     }
    div{

        img{
            width: 154px;
            height: 114px;
        }
        h5{
            font-family: 'Lato', sans-serif;
            font-weight: 700;
        }
    }
}


    .img{
        height: 130px;
        margin: 5px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .icon1{
        background-image: url('../../assets/imagenes/iconos-1.png');
    }
    .icon2{
        background-image: url('../../assets/imagenes/iconos-2.png');
    }
    .icon3{
        background-image: url('../../assets/imagenes/iconos-3.png');
    }







@media(max-width:600px){
    .container-banner-env{
        width: 100%;
        height: auto;
        max-width: 1200px;
        display: flex;
        flex-direction: column;

        span{
            transform: rotate(90deg);
        }
    }
}