<div class="container slide">
  <div class="scroll-position" id="slide"></div>
  <h1> Slide de Imagenes</h1>

      <div class="box"   >
        <div *ngIf="arrayImage">
          <div class="img "  *ngFor="let img of arrayImage" [ngStyle]="{'background-image':'url(http://localhost:3000/media/slide/'+ img.img+')'}">
            <button type="button" class="close" aria-label="Close" (click)="showConfirm(img)">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

        </div>
        <h2 *ngIf="!arrayImage">No hay Imagenes Cargadas</h2>
      </div>

    <form #slide="ngForm">
      <div class="btn-upload">
          <input type="file"  id="slide" name="slide" (change)="cargarImgSlide($event.target.files)"  placeholder="cargar Imagen" >
          <label for="slide" class="btn-2">Subir Imagenes</label>
    
          <div class="box-img">
            <div class="img" *ngIf="imgURLPreview"  [ngStyle]="{'background-image':'url('+ imgURLPreview +')'}"></div>
          </div>
      </div>
    </form>

     <button class="btn" (click)="upImage(slide)">Guardar</button>
</div>


<div class="container slide">
  <h1> Novedades    </h1> 
  <div class="box-loading" *ngIf="showLoading">
    <div class="spinner-border text-success" ></div><span>CARGANDO...</span>
  </div>

  <div *ngIf="!showLoading ">

    <label for="">Categoría </label> 
    <select id="editselect" #editselect name="select-categoria2" class="form-control" (change)="getProducto(editselect)">
      <option  value="0" >Seleccione una categoria para empezar</option>
      <option *ngFor="let categoria of arrayCategoria" [value]="categoria._id" >{{categoria.nombre}}</option>
    </select>

    <table *ngIf="arrayProducto.length">
      <tr>
        <th><div>Mostrar</div></th>
        <th><div>Producto</div></th>
      </tr>
      <tr *ngFor="let producto of arrayProducto">
        <td><input type="checkbox" [(ngModel)]="producto.disponible"></td>
        <td>{{producto.nombre}}</td>
      </tr>
    </table>

    <h3  *ngIf="!arrayProducto.length"> No hay productos</h3>

  </div>


  <button class="btn" *ngIf="arrayProducto.length"  (click)="actualizarNovedates()">Guardar</button>
</div>