<div class="container">
  <div
    class="content-iterator"
    *ngFor="let section of data; let indice = index"
  >
    <div class="id-scroll" [id]="indice"></div>
    <h3>{{ section.nombre }}</h3>

    <div class="content-images-slide" *ngIf="section.disponible">
      <div class="img-1-div">
        <span class="badge badge-danger"
          ><img
            src="https://img.icons8.com/windows/32/000000/delete-forever.png"
        /></span>
      </div>
      <div class="img-2-div">
        <span class="badge badge-danger">
          <img
            src="https://img.icons8.com/windows/32/000000/delete-forever.png"
        /></span>
      </div>
      <div class="img-3-div">
        <span class="badge badge-danger">
          <img
            src="https://img.icons8.com/windows/32/000000/delete-forever.png"
        /></span>
      </div>
    </div>
    <div class="container-false" *ngIf="!section.disponible">
      <h3>{{ section.descripcion }}</h3>
    </div>
    <div class="container-form">
      <form>
        <div class="form-group">
          <label for="exampleFormControlFile1">Seleccion una imagen</label>
          <input
            type="file"
            class="form-control-file"
            id="exampleFormControlFile1"
          />
          <hr />
          <input
            *ngIf="!section.disponible"
            class="form-control"
            type="text"
            placeholder="{{ section.title }}"
          />
          <hr />
          <div class="form-group">
            <textarea
              *ngIf="!section.disponible"
              class="form-control"
              id="exampleFormControlTextarea1"
              placeholder="{{ section.descripcion }}"
              rows="3"
            ></textarea>
          </div>
        </div>
      </form>
      <div class="content-button">
        <button type="button" class="btn btn-success btn-block">Agregar</button>
        <button type="button" class="btn btn-info btn-block">Editar</button>
      </div>
    </div>
  </div>
</div>
