<div class="container">
  <div
    class="content-iterator"
    *ngFor="let section of data; let indice = index"
  >
    <div class="id-scroll" [id]="indice"></div>

    <h3>{{ section.name }}</h3>

    <div class="content-images-slide" *ngIf="section.id === 1">
      <div
        class="img-1-div"
        *ngFor="let img of section.arrayImg; let indice = index"
      >
        <img class="image-slide" src="{{ img.img }}" alt="" />
        <a href="#victorModal" role="button" data-toggle="modal">
          <span class="badge badge-danger"
            ><img
              src="https://img.icons8.com/windows/32/000000/delete-forever.png" /></span
        ></a>
      </div>
    </div>
    <div class="container-form">
      <form (ngSubmit)="sendMesage()" *ngIf="section.id === 1">
        <div class="form-group">
          <h4>Selecciona una imagen</h4>
          <input
            type="file"
            class="form-control-file"
            id="exampleFormControlFile1"
            (change)="changeFile($event)"
          />
          <hr />

          <hr />
        </div>

        <button type="submit" class="btn btn-info btn-block">
          Modificar
        </button>
      </form>
      <div class="general-content-tabs" *ngIf="section.id === 2">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">ALTA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#profile"
              >EDITAR/ELIMINAR</a
            >
          </li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade active show" id="home">
            <form>
              <div class="form-group">
                <label for="exampleFormControlSelect1"
                  >Seleciona la categoria</label
                >
                <select
                  class="form-control"
                  id="exampleFormControlSelect1"
                  [(ngModel)]="dataSendPost.id_catalogo"
                  [ngModelOptions]="{ standalone: true }"
                >
                  <option
                    *ngFor="let item of catalogo; let indice = index"
                    value="{{ item.id_catalogo }}"
                    >{{ item.name }}</option
                  >
                </select>
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Nombre de Producto</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder="Nombre de producto"
                  [(ngModel)]="dataSendPost.name"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>

              <div class="form-group">
                <label for="exampleFormControlTextarea1"
                  >Escriba una descripcion</label
                >
                <textarea
                  class="form-control"
                  id="exampleFormControlTextarea1"
                  rows="3"
                  [(ngModel)]="dataSendPost.descripcion"
                  [ngModelOptions]="{ standalone: true }"
                ></textarea>
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Cargar imagen</label>
                <input
                  type="file"
                  class="form-control-file"
                  id="exampleFormControlFile1"
                  (change)="changeFile2($event)"
                />
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="defaultCheck1"
                  [(ngModel)]="dataSendPost.disponible"
                  [ngModelOptions]="{ standalone: true }"
                />
                <label class="form-check-label" for="defaultCheck1">
                  Disponible
                </label>
              </div>
              <br />
              <button
                type="button"
                class="btn btn-primary btn-lg btn-block btn-sm"
                (click)="sendMesage2()"
              >
                Guardar
              </button>
            </form>
          </div>
          <div class="tab-pane fade" id="profile">
            <form action="">
              <div class="form-group">
                <label for="exampleFormControlSelect1"
                  >Seleciona la categoria</label
                >
                <select
                  class="form-control"
                  id="exampleFormControlSelect1"
                  [(ngModel)]="dataSendPost.id_catalogo"
                  [ngModelOptions]="{ standalone: true }"
                >
                  <option
                    *ngFor="let item of catalogo; let indice = index"
                    value="{{ item.id_catalogo }}"
                    >{{ item.name }}</option
                  >
                </select>
                <div
                  class="content-padre-edit-and-delete"
                  *ngFor="
                    let item of catalogo | filter: dataSendPost.id_catalogo
                  "
                >
                  <div>
                    <div class="div-content-edit-and-delete">
                      <p>{{ item.name }}</p>
                      <div class="content-button">
                        <button class="btn btn-success">
                          <img
                            src="https://img.icons8.com/android/24/000000/ball-point-pen.png"
                          /></button
                        ><button class="btn btn-danger">
                          <img
                            src="https://img.icons8.com/windows/32/000000/delete-forever.png"
                            alt=""
                          />
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="victorModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <p>¿Seguro que quieres borrar este elemento?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Cerrar
        </button>
        <button
          type="button"
          (click)="eliminarImg()"
          data-dismiss="modal"
          class="btn btn-danger"
        >
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>
