.slide{
    min-height: 50vh;
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
    padding-bottom: 10px;
    input{ 
        width: 100%;
    }


    .box-img{
        height: 100px;
        width: 190px;
        display: inline-block;
        .img{
            height: 100px;
            width: 100%;
            border: 1px solid #d2cece;
            margin: 5px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
        }
    }

    .img{
        height: 100px;
        width: 250px;
        border: 1px solid #d2cece;
        margin: 5px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;

        button {
            background-color: white;
            border-radius: 50%;
            height: 30px;
            width: 30px;

            span {
                position: relative;
                top: -2px;
            }
        }
    }

    h1{
        text-align: center;
        font-size: 2em;
    }
    h3{
        text-align: center;
        margin-top: 5%;
    }
    
    .btn{
        margin: auto;
        text-align: center;
        width: 112px;
        height: 45px;
        border-radius: 20px;
        margin-top: 32px;
        border: none;
        color: white;
        background-color: #b3c984;
    }

    .box-loading {
        text-align: center;

        span {
            position: relative;
            left: 5px;;
        }
    }
}  

.box {
    height: 138px;
    //white-space: nowrap;
    overflow-x:  hidden;
    overflow-y: visible;
    width: 100%;
}

.scroll-position{
    position: relative !important;
    top: -200px !important;
}
  
