@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

.container-fluid{
  padding: 0;
  margin: 0;
  .baner{
    width: 100%;
    height: auto;
    padding: 0;
    -webkit-animation: fade-in-bck 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
      animation: fade-in-bck 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
      .col-12{
        padding: 0;
        .carousel{
          .carousel-inner{
              .carousel-item{
                  img{
                      width: 100%;
                      max-height: 432px;
                  }
              }
          }
      }
      }

    
}
}

.container{
    width: 100%;
    height: auto;
    .display-4{
      font-size: 2.5rem;
    }
    .col1{
        height: 400px;
        background-color: whitesmoke;
         hr{
           height: 2px;
           width: 40%;
           background-color: #b3c985;
         }
        .section-contact{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .lista-contactos{
            padding: 0;
            font-family: 'Amatic SC', cursive;
            li{
              list-style: none;
              font-weight: 700;
            }
          }
        }
        
    }
    .col2{
        height: 400px;
        background-color: whitesmoke;
        color: white;
       
        hr{
          height: 2px;
           width: 40%;
           background-color: #bfdce6;
        }
        button{
          width: 200px;
         
        }
       
    }

 
    .jumbotron{
        background-color: transparent;
        height: auto;
        font-family: 'Amatic SC', cursive;
        padding: 20px  0;
        blockquote{
          .content-images-most{
           
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;

            .contet-image{
              img{
                width: 300px;
                height: 300px;
                cursor: pointer;
              }
 
              hr{
                height: 2px;
                background-color:#b3c985 ;
              }
              button{
                position: relative;
                bottom: 200px;
                visibility: hidden;
                
              }

              /*button animation*/
              @-webkit-keyframes scale-in-hor-center {
                0% {
                  -webkit-transform: scaleX(0);
                          transform: scaleX(0);
                  opacity: 1;
                }
                100% {
                  -webkit-transform: scaleX(1);
                          transform: scaleX(1);
                  opacity: 1;
                }
              }
              @keyframes scale-in-hor-center {
                0% {
                  -webkit-transform: scaleX(0);
                          transform: scaleX(0);
                  opacity: 1;
                }
                100% {
                  -webkit-transform: scaleX(1);
                          transform: scaleX(1);
                  opacity: 1;
                }
              }
              
 
              img:hover{
                filter: grayscale(100%);
                display: block;
                transform:translateY(10px) ;
                transition: all linear 0.3s;
                
              }
              button:hover{
                visibility: visible;
                -webkit-animation: scale-in-hor-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	              animation: scale-in-hor-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
              }
              img:hover~button{
                visibility: visible;
                -webkit-animation: scale-in-hor-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	              animation: scale-in-hor-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
              }

              @media(max-width:600px){
                button{
                  position: relative;
                  bottom: 200px;
                  visibility: visible;
                  
                }
              }
            }
            
           
            
          }
        }

        .btn-success{
            color: white;
        }
    }
    #section4{
      font-family: 'Amatic SC', cursive;
      position: relative;   
      width: 100%;
      height: 100px;
    }
    .section5{
      font-family: 'Amatic SC', cursive;
    }
    .list-group{
      font-family: "Poppins", sans-serif;
      -webkit-animation: fade-in-bck 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
      animation: fade-in-bck 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

    #contacto{
      .section-contact {
        padding: 0 !important;

        ul {
          padding-top: 40px;

          li {
            margin-bottom: 20px;
          }
        }
      }

      .title-contact{
        color: #343a40;
        padding: 5px;
        text-align: center;
        font-family: 'Source Sans Pro', sans-serif;
      }
      .content-input{
        width: 100%;
       
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .inputs-contact{
          width: 45%;
        }
      }
    }
}
//animacion del banner fade
@-webkit-keyframes fade-in-bck {
    0% {
      -webkit-transform: translateZ(80px);
              transform: translateZ(80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-bck {
    0% {
      -webkit-transform: translateZ(80px);
              transform: translateZ(80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  

  @media(max-width:450px){
    *{
      font-size: 14px;

      .display-4{
        font-size: 35px !important;
      }
    }
  }


  @media (max-width: 768px) {
    .container-fluid {
      padding: 0;
    }

    .content-img {
      padding: 0;
      margin: 0;
    }

    form {
      padding: 0 !important;
    }

    #contacto {
      padding: 10px 2px;

      .box-contact {
        height: 340px;
      }

      form {
        margin-top: 35px;
      }

      h3 {
        margin-top: 20px;
        font-size: 1.5em;
      }

      .btn-dark{
        width: 100%;
      }

      .section-contact {
        padding: 0 !important;

        ul {
          padding-top: 20px;

          li {
            margin-bottom: 20px;
          }
        }
      }
    }
  }