<div class="container-fluid">
  <div class="baner">
    <div class="col-12 col-md-12 col-lg-12">
      <div
        id="carouselExampleFade"
        class="carousel slide carousel-fade"
        data-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="../../assets/imagenes/banner1.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="../../assets/imagenes/banner2.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="../../assets/imagenes/banner3.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row"></div>

  <div class="col-12 col-md-12 col-lg-12 mt-5">
    <div class="jumbotron">
      <blockquote class="text-center">
        <h1 class="display-4">Acerca de Nosotros</h1>
        <p class="lead">
          This is a simple hero unit, a simple jumbotron-style component for
          calling extra attention to featured content or information.
        </p>
        <hr class="my-4" />
        <p>
          It uses utility classes for typography and spacing to space content
          out within the larger container.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
          praesentium itaque exercitationem, reiciendis facere explicabo
          quisquam deleniti ut fuga sunt accusantium at saepe ducimus distinctio
          alias delectus eveniet
        </p>
        <hr />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
          praesentium itaque exercitationem, reiciendis facere explicabo
          quisquam deleniti ut fuga sunt accusantium at saepe ducimus distinctio
          alias delectus eveniet
        </p>
        <a
          class="btn btn-success btn-lg"
          (click)="gotoPage('galeria')"
          role="button"
          >Galeria</a
        >
      </blockquote>
    </div>
  </div>
  <div class="col-12 col-md-12 col-lg-12">
    <div class="jumbotron">
      <blockquote class="text-center">
        <h1 class="display-4">De donde somos</h1>
        <p class="lead">
          This is a simple hero unit, a simple jumbotron-style component for
          calling extra attention to featured content or information.
        </p>
        <hr class="my-4" />
        <p>
          It uses utility classes for typography and spacing to space content
          out within the larger container.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
          praesentium itaque exercitationem, reiciendis facere explicabo
          quisquam deleniti ut fuga sunt accusantium at saepe ducimus distinctio
          alias delectus eveniet
        </p>
        <hr />
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9276.99211853228!2d-58.37998032909389!3d-34.70739900024915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccd3030fe5475%3A0xae98fec7d8cc535f!2sAv.%20Eva%20Per%C3%B3n%201670%2C%20B1820%20Lan%C3%BAs%20Este%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1593385277035!5m2!1ses-419!2sar"
          width="300"
          height="300"
          frameborder="0"
          style="border: 0;"
          allowfullscreen=""
          aria-hidden="false"
          tabindex="0"
        ></iframe>
        <hr />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
          praesentium itaque exercitationem, reiciendis facere explicabo
          quisquam deleniti ut fuga sunt accusantium at saepe ducimus distinctio
          alias delectus eveniet
        </p>
      </blockquote>
    </div>
  </div>
  <div class="col-12 col-md-12 col-lg-12">
    <div class="jumbotron" id="section4">
      <blockquote class="text-center">
        <h1 class="display-4">Preguntas Frecuentes</h1>

        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button
                  class="btn btn-link btn-block text-left"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  User 1 Profile <span class="badge badge-primary">9</span>
                  <span class="sr-only">unread messages</span>
                </button>
              </h2>
            </div>

            <div
              id="collapseOne"
              class="collapse show"
              aria-labelledby="headingOne"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life
                accusamus terry richardson ad squid. 3 wolf moon officia aute,
                non cupidatat skateboard dolor brunch. Food truck quinoa
                nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                wes anderson cred nesciunt sapiente ea proident. Ad vegan
                excepteur butcher vice lomo. Leggings occaecat craft beer
                farm-to-table, raw denim aesthetic synth nesciunt you probably
                haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button
                  class="btn btn-link btn-block text-left collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  User 2 Profile <span class="badge badge-primary">9</span>
                  <span class="sr-only">unread messages</span>
                </button>
              </h2>
            </div>
            <div
              id="collapseTwo"
              class="collapse"
              aria-labelledby="headingTwo"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life
                accusamus terry richardson ad squid. 3 wolf moon officia aute,
                non cupidatat skateboard dolor brunch. Food truck quinoa
                nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                wes anderson cred nesciunt sapiente ea proident. Ad vegan
                excepteur butcher vice lomo. Leggings occaecat craft beer
                farm-to-table, raw denim aesthetic synth nesciunt you probably
                haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button
                  class="btn btn-link btn-block text-left collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  User 3 Profile <span class="badge badge-primary">9</span>
                  <span class="sr-only">unread messages</span>
                </button>
              </h2>
            </div>
            <div
              id="collapseThree"
              class="collapse"
              aria-labelledby="headingThree"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life
                accusamus terry richardson ad squid. 3 wolf moon officia aute,
                non cupidatat skateboard dolor brunch. Food truck quinoa
                nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                wes anderson cred nesciunt sapiente ea proident. Ad vegan
                excepteur butcher vice lomo. Leggings occaecat craft beer
                farm-to-table, raw denim aesthetic synth nesciunt you probably
                haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
        </div>
      </blockquote>
    </div>
    <div class="container mt-5" id="contacto">
      <div class="row">
        <div class="col-12 col-md-12 col-sm-12 col-lg-6 col1"></div>
        <div class="col-12 col-md-12 col-sm-12 col-lg-6 col2">
          <form class="p-5">
            <div class="form-group">
              <label for="exampleInputEmail1">Ingrese su Email</label>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Ingrese su Email"
              />
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput">Numero de contacto</label>
              <input
                type="text"
                class="form-control"
                id="formGroupExampleInput"
                placeholder="Ingrese su Numero de contacto"
              />
            </div>
            <div class="mb-3">
              <label for="validationTextarea">Dejenos su Comentario</label>
              <textarea
                class="form-control"
                id="validationTextarea"
                placeholder="Dejenos un comentario"
                required
              ></textarea>
            </div>
            <button type="submit" class="btn btn-warning">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
