<div class="container-fluid subfooter mt-5 p-5">
  <div class="col-12 col-sm-12 col-md-12 col-lg-4 footer1 p-5">
    <h5>Contactos</h5>
    <ul class="">
      <li>Telefono De linea : 42498221</li>
      <li>Whatsapp : 1131491074</li>
      <li>Email: delsublimado.mundo@gmail.com</li>
      <li>Ubicacion: Buenos Aires- Zona Sur</li>
      <li>Eva peron 1670 - Lanus Este</li>
    </ul>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-4 footer3 p-5">
    <div class="list-horarios">
      <h5>Horarios de atencion</h5>
      <p>Lunes a Viernes 9 a 17 hs Sabado 10 a 13 hs</p>
    </div>
    <div class="list-ubicacion">
      <h5>Ubicacion</h5>
      <p>Buenos Aires- Zona Sur Eva peron 1670 - Lanus Este</p>
    </div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3279.9042399543873!2d-58.38302578417253!3d-34.707595170509805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccd3030fe5475%3A0xae98fec7d8cc535f!2sAv.%20Eva%20Per%C3%B3n%201670%2C%20B1820%20Lan%C3%BAs%20Este%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1593618910924!5m2!1ses-419!2sar"
      width="150"
      height="150"
      frameborder="0"
      style="border: 0;"
      allowfullscreen=""
      aria-hidden="false"
      tabindex="0"
    ></iframe>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-4 footer2 p-5">
    <h5>Redes Sociales</h5>
    <ul class="list-logos">
      <a href="https://www.instagram.com/delsublimado.mundo">
        <img src="../../assets/imagenes/instagram.png" />
      </a>
      <a href=" https://www.facebook.com/delsublimado.mundo"
        ><img src="../../assets/imagenes/facebook.png"
      /></a>
      <a href="#"><img src="../../assets/imagenes/whats.png" /></a>
    </ul>
    <div class="list-link">
      <a href=" www.instagram.com/delsublimado.mundo">
        Facebook/delsublimado.mundo</a
      >
      <a href=" www.instagram.com/delsublimado.mundo">
        Instagram/delsublimado.mundo</a
      >
    </div>
  </div>
</div>
