<div class="container-fluid subfooter mt-5 p-5">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-6 footer1">
      <h5>Contactos</h5>
      <ul class="">
        <li>Telefono De linea : 42498221</li>
        <li>Email: delsublimado.mundo@gmail.com</li>
        <li>Ubicacion: Buenos Aires- Zona Sur</li>
        <li>Eva peron 1670 - Lanus Este</li>
      </ul>
    </div>
    <div class="col-12 col-md-12 col-lg-6 footer2 p-5">
      <h5>Redes Sociales</h5>
      <ul class="">
        <a href="https://www.instagram.com/delsublimado.mundo">
          <img src="../../assets/imagenes/instagram.png"
        /></a>

        <a href=" https://www.facebook.com/delsublimado.mundo"
          ><img src="../../assets/imagenes/facebook.png"
        /></a>

        <a href="#"><img src="../../assets/imagenes/whats.png" /></a>
      </ul>
    </div>
  </div>
</div>
