<div class="container-fluid subfooter mt-5 p-5">
  <div class="col-12 col-sm-12 col-md-12 col-lg-3 footer3 p-5">
    <div class="list-horarios">
      <h5>Contacto</h5>
      <div class="list-horarios">
        <li>Whatsapp 1131491074</li>
        <li>Telefono linea 42498221</li>
        <li>delsublimado.mundo@gmail.com</li>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-3 footer4 p-5">
    <div class="list-horarios">
      <h5>Ubicacion</h5>
      <li>Buenos Aires- Zona Sur</li>
      <li>Eva peron 1670 - Lanus Este</li>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-3 footer1 p-5">
    <div class="list-horarios">
      <h5>Horarios de atencion</h5>
      <li>Lunes a Viernes 9 a 17 hs</li>
      <li>Sabado 10 a 13 hs</li>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-3 footer2">
    <h5 style="position: relative; top: 10px;">Redes Sociales</h5>
    <ul class="list-logos">
      <div class="sub-section-icons">
        <a href="https://www.instagram.com/delsublimado.mundo">
          <img src="../../assets/imagenes/instagram.png" />
        </a>
        <a href="https://www.instagram.com/delsublimado.mundo">
          /delsublimado.com</a
        >
      </div>
      <div class="sub-section-icons">
        <a href=" https://www.facebook.com/delsublimado.mundo"
          ><img src="../../assets/imagenes/facebook.png"
        /></a>
        <a href="https://www.facebook.com/delsublimado.mundo">
          /delsublimado.com</a
        >
      </div>
      <div class="sub-section-icons">
        <a href="#"><img src="../../assets/imagenes/whats.png" /></a>
        <a href="https://www.facebook.com/delsublimado.mundo">
          /delsublimado.com</a
        >
      </div>
    </ul>
    <div class="list-link"></div>
  </div>
</div>
