
.subfooter{
    background-color: black;
    color: white;
    .row{
      .footer1{
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
  
          ul{
              li{
                  list-style: none;
              }
          }
      }
      .footer2{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;

          ul{
              width: 200px;
              display: flex;
              justify-content: space-around;
              a{
                  img{
                      width: 40px;
                      height: 40px;
                  }
              }
          }
      }
    }
  }

