.container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
   
 
   .content-iterator{
 
     .id-scroll {
       position: relative;
       top: -160px;
   }
     h3{
       font-weight: 700;
       padding: 10px;
      }
 
   
     .container-form{
         width: 100%;
         height: auto;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         background-color: whitesmoke;
         padding: 5px;
         margin-top: 5%;

         form{
           width: 360px;
         }
 
         .content-button{
           width: 250px;
 
         }
     }
 
   }
  
 }